@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.button-container {
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #d1f0d7;
  color: #0f3a12;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
}

.button:hover {
  background-color: #054330;
  color: #d1f0d7; 
}

.container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.loginContainer {
  background-color: #fff;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 24rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 24px;
  text-align: center;
}

.form {
  margin-top: 16px;
}

.formGroup {
  margin-bottom: 16px;
}

.label {
  color: #4b5563;
  font-weight: 500;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #cbd5e0;
  border-radius: 4px;
  outline: none;
}

.submitButton {
  width: 100%;
  padding: 8px;
  background-color: #4299e1;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.submitButton:hover {
  background-color: #3182ce;
}

.login-container {
  background-color: #fff;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add box-shadow to create a box around the login page */
  width: 24rem;
}

/*userPage styling*/

.sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0px;
  padding: 20px; /* Add padding for better spacing */
}

.userButtonGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.userButton {
  display: inline-block;
  padding: 25px 70px; 
  font-size: 18px; 
  background-color: #d1f0d7;
  color: #0f3a12;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.userButton:hover {
  background-color: #054330;
  color: #d1f0d7; 
}

.helloUsername{
  font-size: x-large;
  padding-bottom: 40px;
  text-align: left;
}

.transactionContent{
  flex-direction: column;
  position: absolute;
  left: 450px;
  top:40px;

}

.transactionTitle{
  font-size: x-large;
}

/*payRequest page*/
.payReqTitle{
  text-align: center;
  padding-top: 60px;
}

.payReqButton{
  flex: 1; /* Each button takes equal space */
  display: inline-block;
  padding: 10px 20px;
  background-color: #d1f0d7;
  color: #0f3a12;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
  width: 200px;
  height: 30px;

}

.payReqButton:hover{
  background-color: #054330;
  color: #d1f0d7; 
}

.payReqButtons{
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Distribute items evenly along the main axis */
  margin-top: 20px; /* Adjust margin as needed */
}
